HUGGINGFACE_TOKEN="xxxxxxxxxxxxxxxxxxx"
SERPAPI_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxx"
DOWNLOAD_DIR="B://models//Llama-3.2-1B-Instruct-unsloth-bnb-4bit"
MODEL_ID="unsloth/Llama-3.2-1B-Instruct-unsloth-bnb-4bit"
CHROMA_DB_PATH="B://ai_data"
DATA_DIR="B://h2ogpt-data"