datasets
pandas
diffusers
gradio
transformers>=4.43.0
huggingface_hub
unsloth
dotenv
# Web scraping
google-search-results
## LangChain
langchain-community
langchain-huggingface
langchain-chroma
unstructured
unstructured[local-inference]
unstructured[all-docs]
# Embeddings
pypandoc
nltk
python-magic-bin
# Database
chromadb
# PyTorch
torch
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/cu124